<div class="container">
  <div class="row">

    <div class="col-md-12" *ngIf="cities.length > 0  else info">
      <h4>Cities list</h4>
      <div class="table-responsive">
        <table id="city-table" class="table table-bordered table-striped">
          <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr app-city-list-item [city]="city" (deleteRequest)="onDeleteRequest($event)" *ngFor="let city of cities">
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #info>

      <div class="row">
     
          <h1>No City data to display</h1>
       
      </div>

    </ng-template>
  </div>
</div>
